
body{
    direction: rtl;
}
/*start navbar*/
.container .home  .navbar {
    background:#e3f2fd;
    border-radius: 0 0 50px 50px;
}
.container .home .navbar img {
    width:60px;
    height:45px;
}
.container .home .navbar .login{
    position: absolute;
    left: 50px;
    font-weight: bold;
}

@media (min-width: 320px) and (max-width: 991px){
    .container .home .navbar .login{
        left: 15px;
        bottom: 15px;
    }
}

.container .home .collapse{
    justify-content: center;
}
.container .home .nav-item{
    padding-right: 15px;
}
@media (min-width: 320px) and (max-width: 991px){

    .navbar-nav {
        margin-bottom: 35px;
    }

}
.navbar .navbar-brand span{
    font-weight: bold;
    font-size: 25px;
    color: #c80303;
}
.navbar-nav .nav-link {
    font-weight: bold;
    transition: .3s ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover {
    color:#c80303;
}
/*start intro donor with intro*/

.intro .donor{
    clip-path: circle(50% at 50% 60%)
}
.intro h2{
    color: #fff;
    background-color: #c80303;
    margin-top: 20px;
    border-radius: 50px;
    text-align: center;
    padding: 8px 4px;
    font-weight: bold;
}
.intro p {
    text-align: right;
    font-weight: bold;
}
.intro p .span2 {
    color: red;
}
.intro p .span3{
    cursor: pointer;
    color: red;
    font-size: 20px ;
}
.intro p .span4 {
    display: none;
}
/*end intro */

/*start with articles*/
.articles{
    background-color: #e3f2fd;
    margin-top: 15px;
    padding: 15px;
    border-radius: 50px;
}
.articles .row {
    justify-content: space-evenly;
}
.articles h1 {
    color: #c80303;
    margin-bottom: 20px;
}
.articles .pic {
    width: 220px;
    display: block;
    margin: 0 auto 20px;

}
.articles .card{
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 10px #c6acac;
    position: relative;
    overflow: hidden;
    z-index: 1;  
}

.articles .card:after{
    content: "";
    background-color:#00000045;
    width: 0;
    height: 100%;
    position: absolute;
    right: 0;
    transition: all .8s;
    z-index: -1;
    
}
.articles .card:hover:after{
    width: 100%;
    
}


.articles .card h5{
    color: #c80303;
    font-size: 25px;
    font-weight: bold;
}
.articles .card p{
    font-weight: bold;
}
.articles button{
    display: flex;
    margin: 20px auto;
    font-weight: bold;
    padding: 5px 35px;
    border-radius: 5px;
    color: white;
    background-color: #c80303;
    border: 0;
    transition: .5s ease-in-out;
}
.articles button:hover{
    background-color:#800202;
}
/*end articles*/

/*start requsets*/
.requests .kind-blood{
    border: 1px solid #e74c3c;
    border-radius: 50px;
    overflow: hidden;
    background: #fff;
    margin: 8px auto 0;
}
.requests h1{
    color: #e74c3c;
    margin-top: 10px;
}
.requests .names{
    border-radius: 50px;
    align-items: center;
    background:#e3f2fd;
    font-weight: bold;
    margin: 5px auto;
}
.requests button {
    display: flex;
    margin: 0 auto 30px;
    font-weight: bold;
    padding: 5px 35px;
    border-radius: 5px;
    color: white;
    background-color: #c80303;
    border: 0;
    transition: .5s ease-in-out;
}
.requests button:hover{
    background-color:#800202;
}
/*end requests*/
/*start contact us */
.contact .container{
    background-color:#e3f2fd;
    border-radius: 20px 20px 0 0 ;
}
.contact h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    color: #c80303;
}
.contact img {
    display: block;
    margin: auto;
    width: 200px;
}
.contact p {
    font-weight: bold;
    margin-top: 10px;
    text-align: right;
}
.contact form input{
    margin: 5px 0;
}
.contact form textarea{
    margin: 5px 0;
    height: 100px;
}
.send{
    font-weight: bold;
    background-color: #c80303;
    color: #fff;
    transition: all .4s ease-in-out;
}
.send:hover{
    background-color:#800202 ;
}
.contact ul {
    justify-content: center;
}
.contact ul li{
    margin:10px ;
}
.contact ul li i {
    font-size: 30px;
    cursor: pointer;
}
.contact ul li .fi-cnsuxl-facebook-circle{
    color: #3b5998;
}
.contact ul li .fi-xnsuxl-whatsapp{
    color:#25d366;
}
.contact ul li .fi-xnsuxl-instagram {
    color: #c13584;
}
.contact ul li .fi-xwsuxl-envelope-solid{
    color: #dd4b39;
}
.contact ul li .fi-xnsuxl-twitter{
    color: #1da1f2;
}
/*end contact*/
/*start footer*/
footer{
    background-color: #2E86C1;
    font-weight: bold;
    color: white;
}
